
<html>
<head>
<link rel="stylesheet" href="lib/css.css">
<style>
[v-cloak] {
  display: none;
}
body {
	background:#111;
}
body,h1,h3,h4,p,tr,td {	
	color: #DDD;
	margin:0px;
}
table, tr, td {
	border: 1px solid black;
}
td {
	min-width:80px;
	max-width:150px;
	overflow: hidden;
	text-align: right;
}
th {
	background:#222;
	color: #444;
}
input {
	width:400px;
	text-align:center;
	color: #DDD;
	background:#222;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
}

.left-hl {
	text-align: left;
	background: rgba(230, 17, 53, 0.3);
}

.left {
	text-align: left;
}

.left-red {
	text-align: left;
	color: rgb(230, 17, 53);
}

.left-hl-red {
	text-align: left;
	color: rgb(230, 17, 53);
	background: rgba(230, 17, 53, 0.3);
}

.right-hl {
	text-align: right;
	background: rgba(158, 241, 92, 0.3);
}

.right {
	text-align: right;
}

.right-green {
	text-align: right;
	color: rgb(158, 241, 92);
}

.right-hl-green {
	text-align: right;
	color: rgb(158, 241, 92);
	background: rgba(158, 241, 92, 0.3);
}

</style>

<script>
var data = window.location.hash.replace(/\#/,"").split("$");
var ADDRESS = data[0];
var exchange_wallet = data[1];
var exchange_pair = data.slice(2,4);
console.log("current wallet: "+ADDRESS)
console.log("Exchange: "+exchange_wallet)
console.log("Pair: "+exchange_pair)

</script>


<script src="lib/ripple-1.2.3-min.js"></script>
<script src="https://unpkg.com/vue@2.1.10/dist/vue.js" integrity="sha384-EM4rkSrR2j2ZpSvTwYm4oqXcfANxUbR3whO+XcSdJ7t0N7+AdqKJ9jgZZwDbPT5R" crossorigin="anonymous"></script>
<title>RippleCharts</title>
<link rel="icon" href="favicon.ico" />
</head>
<body>

<div id="ripl" class="container" v-cloak>
	<center>
		<h4 v-on:click="getBalance()" v-bind:style="'color:' + (state == 'Online'? 'rgb(158, 241, 92)': 'rgb(230, 17, 53)')">{{ $data.state }}</h4>
		<input type="text" v-model="address"/>
		<br/>
		<p><img class="pair1" src=""></> {{ num(balance.pair1, 2) }} | <img class="pair0" src=""></> {{ num(balance.pair0/1000000, 2) }}</p>
		
		<p><h3>{{ num(currentFund(), 2) }} <img class="pair1" src=""></></h3></p>
		
		<p><h4><img class="pair0" src=""></> = {{ currentPrice(5) }} <img class="pair1" src=""></></h4></p>
		
	</center>
	
	<div class="row" v-bind:style="'display: ' + $data.offers_ready" v-cloak>
	<div class="col-6">
			<table style="border-collapse: collapse; text-align: left">
			<tr><th>Address</th><th>Value</th><th>Amount</th><th>Price</th></tr>
			<center><h3 style="color: rgb(158, 241, 92);">Bids - Buy</h3></center>
			<tr v-for="offer in asks.slice(0,50)">
				<template v-if="offer.isMine">
				<td class="right-hl" v-bind:style="'color:' + stringToColour(offer.Account)" v-on:click="set_address(offer.Account)">{{ reduce(offer.Account) }}</td>
				<td class="right-hl">{{ num(offer.TakerGets.value,0) }}</td>
				<td class="right-hl">{{ num(offer.TakerPays / 1000000,2) }}</td>
				<td class="right-hl-green">{{ num2(offer.TakerGets.value * 1000000 / offer.TakerPays,5)  }}</td>
				</template>
				<template v-else>
				<td class="right" v-bind:style="'color:' + stringToColour(offer.Account)" v-on:click="set_address(offer.Account)">{{ reduce(offer.Account) }}</td>
				<td class="right" >{{ num(offer.TakerGets.value,0) }}</td>
				<td class="right" >{{ num(offer.TakerPays / 1000000,2)}}</td>
				<td class="right-green" >{{ num2(offer.TakerGets.value * 1000000 / offer.TakerPays,5)  }}</td>
				</template>
			</tr>
			</table>
		</div>
		<div class="col-6">
			<table style="border-collapse: collapse">
			<tr><th>Price</th><th>Amount</th><th>Value</th><th>Address</th></tr>
			<center><h3 style="color: rgb(230, 17, 53);">Asks - Sell</h3></center>
			<tr v-for="offer in bids.slice(0,50)">
				<template v-if="offer.isMine">
				<td class="left-hl-red">{{ num2(offer.TakerPays.value * 1000000/offer.TakerGets,5) }}</td>
				<td class="left-hl">{{ num(offer.TakerGets / 1000000,2) }}</td>
				<td class="left-hl">{{ num(offer.TakerPays.value, 0) }}</td>
				<td class="left-hl" v-bind:style="'color:' + stringToColour(offer.Account)" v-on:click="set_address(offer.Account)" >{{reduce(offer.Account)}}</td>	
				</template>
				<template v-else>
				<td class="left-red" >{{ num2(offer.TakerPays.value * 1000000/offer.TakerGets,5) }}</td>
				<td class="left" >{{ num(offer.TakerGets / 1000000,2) }}</td>
				<td class="left" >{{ num(offer.TakerPays.value, 0) }}</td>
				<td class="left" v-bind:style="'color:' + stringToColour(offer.Account)" v-on:click="set_address(offer.Account)" >{{reduce(offer.Account)}}</td>	
				</template>
			</tr>
			</table>
		</div>
		

	</div>
</div>
<script>
elem = document.getElementsByClassName("pair0")
for(var i=0 ; i < elem.length ; i++){
	document.getElementsByClassName("pair0")[i].src = "img/"+exchange_pair[0]+".png";
}

elem = document.getElementsByClassName("pair1")
for(var i=0 ; i < elem.length ; i++){
	document.getElementsByClassName("pair1")[i].src = "img/"+exchange_pair[1]+".png";
}

var ripl = new Vue({
	el: "#ripl",
	data: {
		state: "Offline",
		address: ADDRESS,
		balance: {pair1: 0, pair0: 0},
		account: "",
		offers_ready: "none",
		bids: [{Account:'',TakerPays:0}],
		asks: [{Account:'',TakerGets:{value:0},TakerPays:''}],
		Remote: ripple.Remote,
		ask_options: {
        	currency_gets: exchange_pair[1], issuer_gets: exchange_wallet,
        	currency_pays: exchange_pair[0], // trade_currency
			// trade issuer
		},
		bid_options: {
			currency_gets: exchange_pair[0], // trade_currency
			currency_pays: exchange_pair[1], issuer_pays: exchange_wallet,  // bas_issuer
		},
	},
	methods: {
		stringToColour: function(str) {
			var hash = 0;
			for (var i = 0; i < str.length; i++) {
				hash = str.charCodeAt(i) + ((hash << 5) - hash);
			}
			var colour = '#';
			for (var i = 0; i < 3; i++) {
				var value = (hash >> (i * 8)) & 0xFF;
				colour += ('00' + value.toString(16)).substr(-2);
			}
			return colour;
		},
		
		reduce: function(account){
			return account.substring(0,3)+".."+account.substring(account.length-3,account.length)
		},
		
		num: function(str, decimals) {
			var number = parseFloat(str).toFixed(decimals);
			return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		},
		num2: function(str, decimals) {
			var number = parseFloat(str).toFixed(decimals);
			return number.toString();
		},
		sum : function(n1, n2) {
			return parseInt(n1) + parseInt(n2);
		},
		currentPrice: function(dec) {
			f1 = parseFloat(this.bids[0].TakerPays.value * 1000000/this.bids[0].TakerGets)
			f2 = parseFloat(this.asks[0].TakerGets.value * 1000000/this.asks[0].TakerPays)
			res = f2
			return res.toFixed(dec).toString();
		},
		
		currentFund: function() {
			f1 = parseFloat(this.balance.pair1)
			f2 = parseFloat(this.balance.pair0/1000000/(this.asks[0].TakerPays/this.asks[0].TakerGets.value/1000000))
			res = f1 + f2
			return res.toFixed(2).toString();
		},
		capitalize: function(str) {
			return str.charAt(0).toUpperCase() + str.slice(1);
		},
		loadOrderBook : function(){
			console.log('[Debug] init loadOrderBook');
			ripl.offers_ready = 'block';
			this.bookBid = this.remote.createOrderBook({
				currency_gets: exchange_pair[0], issuer_gets: null,
				currency_pays: exchange_pair[1], issuer_pays: exchange_wallet,
				snapshot: true,
			});
			this.bookBid.on('model', function(offers) {
				console.log('[Debug] bookbid');
				ripl.bids= ripl.bookBid = null;
				ripl.bids = offers;
				ripl.filter_offers();
				
			});
			this.bookAsk = this.remote.createOrderBook({
				currency_gets: exchange_pair[1], issuer_gets: exchange_wallet,
				currency_pays: exchange_pair[0], 
			});
			this.bookAsk.on('model', function(offers) {
				ripl.asks= this.bookAsks = null;
				ripl.asks = offers;
				ripl.filter_offers();
			});
			
			
		},
		filter_offers : function(){
			for (var i = 0; i < ripl.bids.length; i++){
				if (ripl.bids[i].Account.indexOf(ripl.address) !== -1){
					ripl.bids[i].isMine = true;
				}
				else {
					ripl.bids[i].isMine = false;
				}
			}
			for (var i = 0; i < ripl.asks.length; i++){
				if (ripl.asks[i].Account.indexOf(ripl.address) !== -1){
					ripl.asks[i].isMine = true;
				}
				else {
					ripl.asks[i].isMine = false;
				}
			}
		},
		set_address : function(addr) {
			ripl.address = addr;
			ripl.getBalance();
			ripl.filter_offers();
		},
		reload_all: function() {
			ripl.loadOrderbook();
			ripl.getBalance();

		},
		getBalance : function() {
			if (this.remote) {
				this.account = this.remote.account(this.address);
				this.account.entry();
				this.account.on('entry', function(entry, ledger){
					ripl.balance.pair0 = parseInt(ripl.account._entry.Balance);
					ripl.remote.requestRippleBalance({
						currency: exchange_pair[1],
						issuer: exchange_wallet,
						ledger: "validated",
						account: ripl.address,
						},
						function(err, res) {
							if (res && res.account_balance) {
								ripl.balance.pair1 = res.account_balance._value
							}
						}
					);
				});
			}
			else{
				console.log('[WARNING] not connected');
			}
		},
	},
	filters: {
		rAddr : function(value) {
			if (!value) return '';
			return value.slice(0,15);
		},
	},
	watch: {
		'address': function(newv, oldv) {
			window.location.hash = newv;
			ripl.address = newv;
			ripl.loadOrderBook();
		},
	},
	mounted: function() {
		this.$nextTick(function () {
			console.log('Vue loaded.');

			this.remote = new this.Remote({
				trusted: false,
				local_signing: true,
				local_fee: true,
				fee_cushion: 1.2,
				max_fee: 120,
				servers: [{
					host: 's1.ripple.com',
					port: 443,
					secure: true,
					primary: true,
				}]
			});
			this.state = "Connecting.."
			this.remote.connect(function (){
			});
			this.remote.on('state', function(state){
				ripl.state = ripl.capitalize(state);
			});

			setTimeout(this.loadOrderBook, 2000);
			setTimeout(this.getBalance, 2000);
			
		})
	},
});

</script>
</body>
</html>

